<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bewmens.ElectronicSwimCoach" >


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/icon" android:allowBackup="true">



        <activity android:label="@string/app_name" android:name="com.bewmens.ElectronicSwimCoach.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name="com.bewmens.ElectronicSwimCoach.Main_Menu">
            <intent-filter>
                <action android:name="com.bewmens.ElectronicSwimCoach.CLEARSCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name="com.bewmens.ElectronicSwimCoach.tutorial1">
            <intent-filter>
                <action android:name="com.bewmens.ElectronicSwimCoach.TUTORIALONE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
                  android:name=".CameraActivityCV">
        <intent-filter>
            <action android:name="com.bewmens.ElectronicSwimCoach.CAMERA"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>

    </activity>

        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/app_name" android:name="com.bewmens.ElectronicSwimCoach.About">
            <intent-filter>
                <action android:name="com.bewmens.ElectronicSwimCoach.ABOUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
</manifest>